

i.icon {
    font-size : 1.7em;   /* 2x the size of parent elem */
}
.ui.inverted.menu {
    background:#b14069;
}

div.container.main {
    color: #393b3ade;
    margin-left: 35px;
}

div.main.text.container.segment {
    margin-top: 5em;
} 
div.main.text.show {
    box-shadow: 0 0 7px 0px black;
} 
div.footer {
    margin-top: 2em;
}
div.description p {
    padding-top: 15px;
}
span.blog-date.show-blog{
    font-size: 0.7em;
}




 