                <div class="container footer">
                    <hr>
                    <p> Go <a href="/">home.</a></p>
                    <small>Copyright  ZUBIN PRATAP (c) 2018-2022</small>
                </div>
            </div>

        </div>
    </body>

</html>