            <div class="container footer">
                <hr>
                <p> Go <a href="/">home.</a></p>
                <small>Copyright  ZUBIN PRATAP (c) 2018-2022</small>
            </div>
<!-- scripts -->
    <div>
        <script type="text/javascript" >
            // setTimeout(()=>{
            //     alert('Script triggered!')
            // },2500)

            // setTimeout( ()=> {
            //     var h1 = document.getElementsByTagName('h1')[0];
            //     console.log(h1);
            //     h1.textContent = 'CHANGED THE HEADING! '
            // }, 1500)
        </script>
    </div>
    </body>


</html>