<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>/parking is working</h1>
    </header>
    <p>Look for a specific Bay ID?</p>
    <form action="/search" method="GET"> 
        <!-- <input type="number" name="bay_id" placeholder="enter a Bay ID"> -->  
        <!-- now using bootstrap -->
        <div class="form-group row">
            <div class="col-4">
            <input class="" type="number" name="bay_id" placeholder="enter a BayID number" id="bay_id">
            </div>
        </div>
        <input type="submit" class="btn btn-outline-info">  
    </form>

    <br/>
    <p>
        Here are <strong><%= max_results  %> parking spaces</strong>, identified by Bay ID in Melbourne's CBD: 
    </p>

    <% data.forEach(function(obj){ %>
        <li style="font-weight: 400"> <%= obj.bay_id %> at [<%= obj.location.coordinates.toString() %>] is  <%= obj.status  %></li>
    <% }); %>

</div>


<% include partials/footer %>