

<% include ../partials/header.ejs %>

<div class="new main text container segment"> 
     <div class="ui huge header">
        <h1>Add a Comment to: <%=blog.title %></h1> 
        <!-- blog.title -->
    </div>

    <div>
        <form class="ui form" action="/blogs/<%=blog._id%>/comments" method="POST">
            <div class="field">
                <label >Your Comment</label>
                <textarea name="comment[content]" required id="" cols="30" rows="2" placeholder="What do you think?"> </textarea>
                
            </div>
            <%#  COMMENTED OUT   -------- 
                <div class="field">
                    <label for="blog[author]">Author Name</label>
                    <input type="text" placeholder="your name" name="comment[author]">
                </div>
                -------------           %>
            <input class="positive ui button " type="submit" value="Let 'em know!">
            
        </form>
    </div>

    <% include ../partials/footer.ejs %>

</div>    